@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sobre el proyecto</h1>
    <p>El proyecto simula las funciones de un sistema de facturacion para un laboratorio clinico.</p>
    <p>Proyecto sacado de un Analisis de sistema en la materia Analisis y Diseno 2, Universidad Ucateba.</p>
    <p>.</p>
    <p>Puedes interactuar con los diferentes modulos del sistema libremente sin necesidad de tener</p>
    <p>algun tipo de authenticacion, la authenticacion esta deshabilitada para esta version de prueba.</p>
    <p></p>
    <p>Programado por Leandro Batista. Twitter: <a href="https://www.twitter.com/HighDrizz" class="font-weight-bold" target="_blank">@@HighDrizz</a></p>
    <p></p>
    <h3>Tecnologias usadas:</h3>
    <h5>Back-End:</h5>
    <p>C# Asp.Net Core</p>
    <p>Entity FrameWork core</p>
    <h5>Data-Base Type</h5>
    <p>Structured Query Lenguage</p>   
    <h5>Front-End:</h5>
    <p>Html, css y Js</p>
    <p></p>
    <p></p>
    <p>-------</p>
    <h5>Aviso:</h5>
    <p>No introduzca informacion que pueda ser sencible en esta Web</p>
</div>
